*,*::before,*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    min-height: 100vh; 
    font-family: 'Futura Md BT', sans-serif;
}
img{
    max-width: 100%;
}
::placeholder{
    opacity: 1;
    color: #083F46 !important;
}
input:focus{
    outline: 0;
    border: 0;
}
input[type=number]{
    -moz-appearance: "textfield"; 
    appearance: none;
}
#root{
   min-height: 100vh;
}
.side-bar{
    background-image: url('../assets//images/pattern.png');
}
.login,.register{
     background-image: url('../assets/images/side-circle.png'); 
    background-size:cover;
    /* background-color: red; */
    background-repeat: no-repeat;

    width: 100%;

    /* border-bottom-right-radius: 20%;
    border-top-right-radius: 20%; */
}
.login p{
    line-height: 1;
}
.login input ,.register input,.add-contact input,.add-contact input{
    border-radius: 2em;
    display: block;
    padding: 0.5em 2em;
    max-width: 450px;
    width: 100%;
    font-size: 1.3rem;
    color: #083F46 ;
}
.add-contact input[type=radio]{

 
  transform: scale(0.3);
  padding: 20px;
}
.custom-button{
   color: #fff;
   display: inline-block;
   padding: 0.2em 1.5em;
   border-radius: 5em;
   border: 1px solid #fff;
}
.custom-button:hover{
    opacity: 0.7;
}

#modal-overlay{

    backdrop-filter: blur(8px); /* Adjust the blur radius as needed */
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    z-index: 999; /* Adjust the z-index as needed */
}
.modal-form{
    max-width: 750px;
    border-radius: 1.5em;
    
}
.modal-button{
    border-radius: 1.5em;;
}

/* home pages */
.outer{
    background-image: url('../assets/images/pattern.png'); 
    background-size:cover;
    background-repeat: no-repeat;

    width: 100%;
}
.inner{
    background-image: url('../assets/images/rotatred-circle.png'); 
    background-size:cover;
    background-repeat: no-repeat;

    width: 100%;
}

/* Add contact pages */

/* custom table styles */
table th {
  
    text-align: left;
}
